<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kendra's Tech Korner</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<section class="hero has-background-danger-light">
  <div class="hero-body">
    <h1 class="title">Kendra's Tech Korner</h1>
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a href="/"class="navbar-item">
        Home
      </a>
    <a href = "/dashboard" class="navbar-item">
        Dashboard
      </a>
      {{#if loggedIn}}
      <button class="button is-danger" id="logout">Log Out</button>
      {{else}}
      <a href="/login" class="navbar-item">Log In</a>
      {{/if}}
        </div>
      </div>
    
  </div>
</nav>
  </div>
</section>


{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
{{{body}}}




</body>
<script src="https://kit.fontawesome.com/d8cc2471fb.js" crossorigin="anonymous"></script>
</html>