<section class="section is-medium">
  <h1 class="title">See Blog Posts</h1>
{{#each posts as |post|}}
  <div class ="card">
    <a href="/posts/{{id}}">
    <div class="card-header">
        <p class ="card-header-title">Posted by {{users.username}} on </p>
    </div>
    <div class ="card-content is-strong">
        {{title}}
    </div>
    </a>
  </div>
{{/each}}
</section>